<head>
  <link rel="stylesheet" href="landingpage.css">
</head>
<h1>Tilting Eagar Button</h1>
<button class="button tilting-lifting-button fly-in">Hello</button>

<h1>Floating Form</h1>
<form><div class="row">
  <div class="large-4 columns">
    <label>First field</label><input type="text" />
  </div>  
  <div class="large-4 columns">
    <label>Second field<input type="text" /></label>
  </div>  
  <div class="large-4 columns">
    <label>Third field<input type="text" /></label>
  </div>  
</div></form>

<h1>Elastic Loader</h1>
<small>(Default hidden)</small>
<div class="loader"></div>